= form_for(@user,:html => {:class =>'form-horizontal'}) do |f|
  %fieldset
    %legend
      %h1
        .inner-title
          Sign up and wait for Authorization
    = render 'shared/error_messages', :object => f.object
    .control-group
      = f.label :name,:class => 'control-label'
      .controls
        = f.text_field :name,:class => "input-middle",:placeholder => "Your name to display"
    .control-group
      = f.label :email,:class => 'control-label'
      .controls
        = f.text_field :email,:class => "input-middle",:placeholder => "***@zte.com.cn"
    .control-group
      = f.label :password,:class => 'control-label'
      .controls
        = f.password_field :password,:class => "input-middle",:placeholder => "********"
    .control-group
      = f.label :password_confirmation,:class => 'control-label'
      .controls
        = f.password_field :password_confirmation,:class => "input-middle",:placeholder => "********"
    .control-group
      %label.control-label
        Sign Up
      .controls
        = f.submit "SignUp", :class =>'btn btn-primary'
