%ul.nav.nav-list
  %li.nav-header
    Main Menu
  %li.navi-font
    = link_to root_path do
      %i.icon-home
      Home
  %li.navi-font
    - if current_user.nil?
      = link_to signin_path do
        %i.icon-user
        Sign in
  - if !current_user.nil?
    %li.divider
    %li.nav-header.navi-font
      User Menu
  %li.navi-font
    - if !current_user.nil?
      = link_to  signout_path, :method => :delete do
        %i.icon-off
        Logout
  %li.navi-font
    - if !current_user.nil?
      = link_to edit_user_path(current_user)  do
        %i.icon-cog
        Setting
  %li.navi-font
    - if !current_user.nil?
      = link_to current_user do
        %i.icon-info-sign
        Profile
  %li.navi-font
    - if !current_user.nil?
      = link_to users_path do
        %i.icon-list
        Users
  - if !current_user.nil?
    %li.divider
    %li.nav-header.navi-font
      Simu Menu
  %li.navi-font
    - if !current_user.nil?
      = link_to status_path do
        %i.icon-adjust
        Status  
  %li.navi-font
    - if !current_user.nil?
      = link_to lookup_path do
        %i.icon-search
        Lookup          
  %li.navi-font
    - if !current_user.nil?
      = link_to simulation_path do
        %i.icon-signal
        Simulation
  %li.navi-font
    - if !current_user.nil?
      = link_to plot_path do
        %i.icon-edit
        Plot
  %li.navi-font
    - if !current_user.nil?
      = link_to map_path do
        %i.icon-road
        Parameter
  %li.divider
  %li.nav-header.navi-font
    Info Menu
  = render 'layouts/footer'